/*
    Jonathon Walmsley 
    10/04/2026 
    Module 10.3
*/

html, body { 
    font-size: 16px; 
}

p { 
    font-weight: 400; 
    line-height: 1.4em;
}

h1 { 
    font-weight: 700; 
    text-transform: uppercase; 
    text-align: center; 
}

h2 { 
    font-weight: 500; 
    text-align: left; 
    padding-top: 15px; 
}

#container { 
    width: 60%; 
    margin: 0 auto; 
    text-align: center; 
}

a { 
    font-weight: bold; 
    font-size: 1.25em; 
    color: #4F3674; 
    text-decoration: none; 
}

#footer { 
    text-align: center; 
    font-size: 0.75em; 
    padding-top: 15px; 
}